/*********************
BOOK COVER
*********************/ 
.book-cover{
  background-size: cover;
  background-image: url(../img/investor-hacks.svg);
  height: 250px;
  padding: 20px;
  position: relative;
  @include breakpoint(medium) {
    height: 400px;
  }
  &.building{
    background-image: url(../img/building.svg);
  }
  &-title{
    width: 60%;
    @include breakpoint(medium) {
      width: 100%;
      margin-top: 20px;
      text-shadow: none;
    }
  }
  &-author{
    position: absolute;
    bottom: 20px;
    @include breakpoint(medium) {
      text-shadow: none;
    }
  }
}

.book-cover-retipster-club{
  background-image: url(../img/building.svg);
  background-color: $green;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-align: center;
  padding:20px;
  img{
    width: 250px;
    height: auto;
    @include breakpoint(medium) {
      width: 350px;
    }
  }
}


.book-cover-seth{
  background-image: url();
  background-color: $teal;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-align: center;
  padding:20px;
  position: relative;
  .social-share{
    &.vertical{
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      @include breakpoint(medium){        
        flex-direction: column;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 50%;
        @include transform(translate(0, -50%));
      }
    }
  }
  &-image{
    margin-bottom: 20px;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      height: 100px;
      width: 100%;
      top: 50%;
      margin-top: -50px;
      background-image: url(../img/wave-pattern-dark.svg);
      background-position: top center;
      background-repeat: repeat;
      z-index: 0;
      opacity: .5;
    }
    img{
      position: relative;
      border-radius: 100%;
      width: 220px;
      height: auto;
      z-index: 1;
    }
  }
  h3{
    font-size: 1.5em;
    margin-bottom: 0;
  }
  h4{
    font-family: $activgrotesk!important;
    font-weight: normal!important;
    font-size: 1em;
    letter-spacing: .05em;
    margin-bottom: 10px;
  }
}