.button{
    font-family: $activgrotesk_bold;
    background: $medium-blue;
    border: 2px solid $medium-blue;
    &:focus{
        background: $medium-blue;
        color: $white;
    }
    &:hover,
    &:active{
        background: $white;
        color: $medium-blue;
    }
    &.large{
        font-size: 1em;
        padding: 1em 3em;
    }
    &.full-width{
        width: 100%;
        padding: 1em;
    }
    &.bg-green{
        background: $green;
        color: $white;
        border: none;
      &:hover{
        background: darken($green, 10%);
        color: $white;
      }
    }
    &.outline{
        background: $white;
        border: 1px solid $blue;
        color: $blue;
        @include transition($transition);
        &:hover{
            background: $blue;
            color: $white;
        }
    }
}