/*********************
CONTACT
*********************/
/*
.contact-page .section-title.main a, .contact-accordion .accordion-content a {
  color: $medium-blue;
  transition: color 0.4s ease;
}

.contact-page .section-title.main a:hover, .accordion a:hover {
  color: $red ;
  text-decoration: none;
}


.contact-accordion .accordion-item.is-active, .contact-accordion .accordion-item.is-active, .contact-accordion .accordion-item.is-active .accordion-title {
  background-color: $white;
}

.contact-accordion .accordion {
  border-bottom: 1px solid $blue;
  width: 100%;
}

.contact-accordion .accordion:after {
  content: '';
  display: block;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  background-image: url(../img/wave-pattern.svg);
  background-repeat: repeat;
  background-position: center center;
  background-color: $ultra-light-gray;
}

.contact-accordion .accordion-item {
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  position: relative;
  background-color: $light-gray;
  cursor: pointer;
  color: $blue;
}

.contact-accordion .accordion-item a.accordion-title:hover {
  color: $blue;
}

.contact-accordion .accordion-title {
  position: relative;
  border: none;
  border-bottom: 1px solid $blue;
  border-top: 1px solid $blue;
  padding: 25px 64px;
  display: block;
  background-color: $light-gray;
  border-bottom: 0;
  color: $blue;
}

.contact-accordion .accordion-title h3 {
  margin-bottom: 0;
}

.contact-accordion .accordion-title:hover, .contact-accordion .accordion-title:focus {
  background-color: $ultra-light-gray;
}

.contact-accordion .accordion-title:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid $blue;
  background-image: url(../img/arrow_drop_down.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 12px 12px;
  background-size: 12px;
  background-position: center;
  top: 50%;
  margin-top: -18px;
  right: 37px;
}

.contact-accordion .accordion-item.is-active .accordion-title:before {
  transform: rotate(180deg);
}

.contact-accordion .accordion-item.is-active .accordion-title {
  border-bottom: 1px solid $blue;
}

:last-child:not(.is-active)>.accordion-title {
  border-bottom: none;
}

.contact-accordion .accordion-content {
  display: none;
  font-size: 1.125em;
  padding: 30px 68px 20px;
  border: none;
  background-color: $white;
  color: $blue;
}
*/
