/*********************
FOOTER
*********************/
footer{
  .footer-bottom{
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
.pixel-dreams{
  text-align: right;
  font-weight: bold;
  color: $blue;
  vertical-align: middle;
  line-height: 32px;
  img{
    width: 25px;
    height: auto;
    margin-left: 10px;
  }
}

.scroll-top {
  right: 15px;
  bottom: 50px;
  z-index: 10;
  position: fixed;
  display: inline-block;
  img {
    width: 50px;
    height: 50px;
    @include transform(rotate(180deg));
  }
}