/*********************
SECTION 1
*********************/
.main-bg-svg{
  position: relative;
  &:after{
    content: "";
    background-image: url(../img/home-featured-image.svg); 
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    @include breakpoint(large){
      opacity: 1;
    }
  }
}

.featured-on{
  margin-top: 2em;
  margin-bottom: 2em;
  h2{
    color: $medium-gray;
    font-size: 1.2em;
    text-align: center;
    &:before{
      content: url(../img/stars.svg);
      display: block;
      width: 42px;
      height: auto;
      margin: 0 auto;
    }
  }
}

/*********************
GENERAL STYLES
*********************/ 

.sawtooth-vertical {
  @include saw-tooth-vertical();
}

.sawtooth-horizontal {
  @include saw-tooth-horizontal();
}

.sawtooth {
  @include saw-tooth();
}
  
/*********************
SECTION PADDING
*********************/ 
.section-padding{
  padding-top: 3em;
  padding-bottom: 3em;
  @include breakpoint(medium){
    padding-top: 6em;
    padding-bottom: 6em;
  }
  &-top{
    padding-top: 3em;
    padding-bottom: 0;
    @include breakpoint(medium){
      padding-top: 6em;
    }
    &-large{
      padding-top: 6em;
      @include breakpoint(medium){
        padding-top: 10em;
      }
    }
  }
}


/*********************
BRAND CAROUSEL
*********************/ 

.brands-carousel {
  width: 100%;
  margin: auto;
  border: 2px solid #E7EBEE;
  height: 92px;
  position: relative;
  margin-top: 10px;
  background: #fff;
  .brands-item {
    height: 100%;
    position: relative;
    &:after {
      content: '';
      height: 27px;
      width: 2px;
      position: absolute;
      background-color: #EAEEEF; 
      right: 1px;
      top: 50%;
      margin-top: -14px;
    }
    img {
      height: 100%;
      -webkit-transform: scale(0.76);
      -ms-transform: scale(0.76);
      transform: scale(0.76);
    }
  }
  .owl-stage-outer, .owl-stage, .owl-item {
    height: 100%;
  }

  .owl-nav {
    display: block !important;
    .owl-next,
    .owl-prev {
      width: 34px;
      height: 34px;
      position: absolute;
      outline: none;
      top: 50%;
      margin-top: -17px;
      z-index: 5;
      background-position: center;
      -webkit-background-size: 34px 34px;
      background-size: 34px;
      background-repeat: no-repeat;
      span {
        display: none;
      }
    }

    .owl-prev {
      left: -18px;
      background: url(../img/arrow_left.svg)!important;
    }

    .owl-next {
      right: -18px;
      background: url(../img/arrow_right.svg)!important;
    }
  }
}


/*********************
UTILITY
*********************/ 
.full-height{
  height: 100%;
  min-height: 100vh;
}

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.padding-0{
  padding: 0;
}
.margin-0{
  margin:0;
}

.padding-1{
  padding: 1em;
}

.padding-2{
  padding: 1.5em;
}
.margin-top-1{
  margin-top: 1em;
}
.margin-top-2{
  margin-top: 2em;
}

.padding-3{
  padding: 2em;
}


.box-shadow{
  box-shadow: 0 10px 15px rgba(0,0,0,0.25);
}

.box-shadow-hover{
  transition: all 0.3s ease;
  @extend .box-shadow;
  text-decoration: none;
  transform: scale(1.01);
}

.rounded{
  border-radius: 50px;
}

.bg-white-transparent{
  background: rgba(255,255,255,.75);
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  z-index:0;
  @include breakpoint(large){
    background: transparent;
  }
}


/*********************
BOX WAVE
*********************/ 
.box-wave{
  background-color: $white;
  border: 1px solid $blue;
  &:after{
    content:'';
    display: block;
    height: 40px;
    width: 100%;
    border-top: 1px solid $blue;
    @include bg-wave();
  }
}

.bg-wave{
  @include bg-wave();
}

/*********************
BOX BLUE
*********************/ 
.box-blue{
  background: $light-blue;
  padding: 10px;
  border: 1px solid $blue;
  border-bottom: none;
  p{
    margin-bottom: 0;
    color: $blue;
  }
}

/*********************
BOX WHITE
*********************/ 
.box-white{
  background-color: $white;
  border: 1px solid $blue;
  border-bottom: none;
}


/*********************
BOOK COVER
*********************/ 
.book-cover{
  background-size: cover;
  background-image: url(../img/investor-hacks.svg);
  height: 250px;
  padding: 20px;
  position: relative;
  @include breakpoint(medium) {
    height: 400px;
  }
  &.building{
    background-image: url(../img/building.svg);
  }
  &-title{
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
    width: 60%;
    @include breakpoint(medium) {
      width: 100%;
      margin-top: 20px;
      text-shadow: none;
    }
  }
  &-author{
    position: absolute;
    bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
    @include breakpoint(medium) {
      text-shadow: none;
    }
  }
}

.title-money{
  &:before{
    content:'';
    display: block;
    background: url(../img/icon-money.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 100px;
    margin: 0 auto;
  }
}


.title-mail{
  margin-bottom: 20px;
  text-align: center;
  @include breakpoint(medium){
    text-align: left;
  }

  &:before{
    content:'';
    display: block;
    background: url(../img/icon-mail.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 25px;
    margin: 0 auto 10px;
    
    
    @include breakpoint(medium){
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
}

.title-bg-white{
  display: inline-block;
  margin: 0;
  padding: 10px;
  background: $white;
  @include breakpoint(medium){
    width: 60%;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
    padding: 30px 40px;
  }
}
/*********************
NEWSLETTER
*********************/ 
.newsletter{
  margin-top: 4em;
}

/*********************
SECTION TITLE
*********************/ 

.section-title{
  &.main{
    margin-top: 5em;
    @include breakpoint(medium){
      margin-top: 6em;
    }
  }
  &.title-wave{
    h2{
      font-size: 2em;
      line-height: 1;
      color: $blue;
      position: relative;
      padding: 40px 20px;
      display: inline-block;
      &:after, &:before{
        content: '';
        -webkit-background-size: 100% 100%;
        background-size: 100%;
        background-repeat: repeat-x;
        background-position: center;
        background-image: url(../img/title-wave.svg);
        height: 15px;
        display: block;
      }
      &:before{
        margin-bottom: 20px;
      }
      &:after{
        margin-top: 20px;
      }
      @include breakpoint(medium){
        padding: 60px 20px;
        font-size: 3em;
        line-height: 1;
        &:before{
          margin-bottom: 40px;
        }
        &:after{
          margin-top: 40px;
        }
      }
    }
  }
}

