/*********************
SECTION 1
*********************/
.main-bg-svg{
  position: relative;
  &:after{
    content: "";
    background-image: url(../img/home-featured-image.svg); 
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    @include breakpoint(large){
      opacity: 1;
    }
  }
}

.featured-on{
  margin-top: 2em;
  margin-bottom: 2em;
  h2{
    color: $medium-gray;
    font-size: 1.2em;
    text-align: center;
    &:before{
      content: url(../img/stars.svg);
      display: block;
      width: 42px;
      height: auto;
      margin: 0 auto;
    }
  }
}

/*********************
GENERAL STYLES
*********************/

a{
  color: $blue;
  &:hover{
    color: $medium-blue;
    transition: .3s linear all;
  }
}

ul.list{
  li{
    margin-bottom: 10px;
  }
}

.sawtooth-vertical {
  @include saw-tooth-vertical();
}

.sawtooth-horizontal {
  @include saw-tooth-horizontal();
}

.sawtooth {
  @include saw-tooth();
}
  
/*********************
SECTION PADDING
*********************/ 
.section-padding{
  padding-top: 3em;
  padding-bottom: 3em;
  @include breakpoint(large){
    padding-top: 6em;
    padding-bottom: 6em;
  }
  &-top{
    padding-top: 3em;
    padding-bottom: 0;
    @include breakpoint(large){
      padding-top: 6em;
    }
    &-large{
      padding-top: 6em;
      @include breakpoint(large){
        padding-top: 10em;
      }
    }
  }
}
.section-padding-main{
  padding-top: 4em;
  padding-bottom: 3em;
  @include breakpoint(medium){
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

/*********************
SECTION MARGIN
*********************/
.section-margin{
  margin-top: 20px;
  margin-bottom: 20px;
  @include breakpoint(medium){
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @include breakpoint(large){
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &-top{
    margin-top: 20px;
    margin-bottom: 0;
    @include breakpoint(medium){
      margin-top: 40px;
    }
    @include breakpoint(large){
      margin-top: 60px;
    }
  }
  &-bottom{
    margin-bottom: 20px;
    margin-top: 0;
    @include breakpoint(medium){
      margin-bottom: 40px;
    }
    @include breakpoint(large){
      margin-bottom: 60px;
    }
  }
}

/*********************
UTILITY
*********************/ 
.full-height{
  height: 100%;
  min-height: 100vh;
}

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.padding-0{
  padding: 0;
}
.margin-0{
  margin:0;
}

.padding-1{
  padding: 1em;
}

.padding-2{
  padding: 1.5em;
}
.margin-top-1{
  margin-top: 1em;
}
.margin-top-2{
  margin-top: 2em;
}

.padding-3{
  padding: 2em;
}
.margin-3{
  margin: 2em;
}

.box-shadow{
  box-shadow: 0 10px 15px rgba(0,0,0,0.25);
}

.box-shadow-hover{
  transition: all 0.3s ease;
  @extend .box-shadow;
  text-decoration: none;
  transform: scale(1.01);
}

.rounded{
  border-radius: 50px;
}

.bg-white-transparent{
  background: rgba(255,255,255,.75);
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  z-index:0;
  @include breakpoint(large){
    background: transparent;
  }
}

/*********************
ICON
*********************/ 
.icon-shop{
  background-image: url(../img/icon-shop.svg);
}


/*********************
NEWSLETTER
*********************/ 
.newsletter{
  margin-top: 4em;
}

/*********************
VIDEO & IMAGE CONTAINER
*********************/ 
.video-container-wave,
.image-container-wave{  
  margin-top: 20px;
  @include breakpoint(medium){
    position: relative;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      right: -40px;
      bottom: -40px;
      z-index: -1;
      @include bg-wave();      
    }
  }
  @include breakpoint(large){
    margin-bottom: 0;
  }
  @include breakpoint(xlarge){
    margin-left: -40px;
  }
}


.image-container-layer{  
  position: relative;
  padding-bottom: 40%;
  &.padding-bottom-normal{
    padding-bottom: 20px;
  }
  @include breakpoint(medium){
    padding-bottom: 30%;
  }
  @include breakpoint(large){
    padding-bottom: 20%;
  }
  .image-foreground{
    position: absolute;
    @include transition($transition);
    &.couple{
      width: 50%;
      max-width: 300px;
      height: auto;
      top: 20%;
      left: 25%;
      @include breakpoint(xlarge){
        left: 18%;
      }
    }
    &.working{
      width: 60%;
      max-width: 340px;
      height: auto;
      top: 25%;
      left: 20%;
      @include breakpoint(large){
        top: 40%;
        left: 15%;
      }
    }
  }

  .image-background {
    //padding-top: 58%;
    background: $teal;
    padding: 30px;
    text-align: center;
  }
  .image-rounded{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    @include breakpoint(medium){
      width: 250px;
      height: 250px;
    }
    @include breakpoint(large){
      width: 300px;
      height: 300px;
    }
  }
}