/*********************
NAVIGATION
*********************/
nav{
    &.main-menu{
        margin: 0 15px;
        .menu{
            li{
                padding: 15px;
                &.active{
                    a{
                        font-family: $activgrotesk_bold;
                        background: transparent;
                        color: $blue;
                        &:after {
                            content: '';
                            display: block;
                            background-color: $blue;
                            margin-top: 5px;
                            height: 2px;
                            @include transform(scale(1));
                        }
                    }
                }
                a{
                    color: $blue;
                    position: relative;
                    padding: 0;
                    letter-spacing: .05em;
                    font-size: .9em;                  
                    @include transition($transition);
                    @include breakpoint(large){
                        font-size: 1em;
                    }
                    &:after {
                        content: '';
                        display: block;
                        background-color: $blue;
                        margin-top: 5px;
                        height: 2px;
                        @include transform(scale(0));                        
                        @include transition($transition);
                    }
                      
                    &:hover{
                        color: $medium-blue;
                        &:after {
                            @include transform(scale(1));
                        }
                    }
                        
                }
            }
        }

    }
    &.sort-articles-menu{
        .menu{
            padding: 10px;
            -ms-flex-pack: center;
            justify-content: center;
            @include breakpoint(large){
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
            li{ 
                border-left: 1px solid $light-gray;             
                @include breakpoint(medium){
                    border-left: 1px solid $light-gray;
                }
                &:first-child{
                    border-left: none;
                }
                &.active{
                    a{
                        font-family: $activgrotesk_bold;
                        background: transparent;
                        color: $blue;
                    }
                }
                a{
                    padding: .5rem .3rem;                    
                    font-size: .9em;
                    @include breakpoint(medium){
                        font-size: 1.2em;
                        padding: .7rem 1rem;
                    }
                }
            }
        }

    }
}

/*********************
BURGER MENU
*********************/

#open-menu {
	display: block;
	width: 40px;
    height: 45px;
    position: relative;
	text-indent: -9000px;
	@include rotate(0);
	@include transition(.5s ease-in-out);
    cursor: pointer;
    @include breakpoint(medium){
        width: 55px;
        height: 55px;
    }
	&:hover span{
		background: $blue;
	}
	span{
		display: block;
		position: absolute;
		height: 3px;
		width: 60%;
        background: $blue;
        left: 20%;
        @include opacity(1);
		@include rotate(0);
		@include transition(.25s ease-in-out);
		@include transform-origin( left center );
		&:nth-child(1) {
			top: 14px;
		}
		&:nth-child(2) {
			top: 22px;
		}
		&:nth-child(3) {
			top: 30px;
        }
        @include breakpoint(medium){
            &:nth-child(1) {
                top: 18px;
            }
            &:nth-child(2) {
                top: 26px;
            }
            &:nth-child(3) {
                top: 34px;
            }
        }
	}
	&.active {
		span{
			width: 80%;
			&:nth-child(1) {
				@include rotate(45);
				top: 5px;
				left: 8px;
			}
			&:nth-child(2) {
				width: 0%;
				@include opacity(0);
			}
			&:nth-child(3) {
				@include rotate(-45);
				top: 25px; 
				left: 8px;
			}
		}
	}
}

/*********************
MOBILE MENU
*********************/

.mobile-menu {
    position: fixed;
    background: $light-green;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
	z-index: 99999;
  
    &.open {
        opacity: .95;
        visibility: visible;
        height: 100%;
    
        li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
        
        &:nth-of-type(2) {
            animation-delay: .4s;
        }
        &:nth-of-type(3) {
            animation-delay: .45s;
        }
        &:nth-of-type(4) {
            animation-delay: .50s;
        }
        &:nth-of-type(5) {
            animation-delay: .55s;
        }
        &:nth-of-type(6) {
            animation-delay: .60s;
        }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
		letter-spacing: .05em;
		line-height: 1.2;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: calc(100% / 6);
      min-height: 50px;
      position: relative;
      opacity: 0;
			
			&.active{
				a{
					color: $blue;
				}
			}      
      a {
        display: block;
        position: relative;
        color: $blue;
        text-decoration: none;
        background: none!important;
        overflow: hidden;
				font-family: $proximanova_bold;
				
				&:focus{
					color: $blue;
				}
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.icon-close{
    position: absolute;
    right: 15px;
    top: 15px;
    img{
        width: 25px;
        height: auto;
    }
}
