/*********************
SOCIAL CATEGORY
*********************/ 
.social-category{
  padding-top: 40px;
  &-item{
    background: $white;
    display: block;    
    position: relative;
    margin-bottom: 40px!important;
    &:nth-of-type(odd){
      .social-category-content{
        border-right: 1px solid $light-gray;
      }
    }
    @include breakpoint(medium){
      .social-category-content{
        border-right: 1px solid $light-gray;
      }
      &:nth-of-type(3n+3){
        .social-category-content{
          border-right: none;
        }
      }
    }
    @include breakpoint(large){
      .social-category-content{
        border-right: 1px solid $light-gray;
      }
      &:nth-of-type(3n+3){
        .social-category-content{
          border-right: 1px solid $light-gray;
        }
      }
      &:nth-of-type(4n){
        .social-category-content{
          border-right: none;
        }
      }
    }
    &:hover{
      .social-category-icon{
        span{
          transition: all 0.3s ease;
          background-size: 70%;
        }
      }
    }
  }
  &-icon{
    position: relative;
    height: 40px;
    span{
      width: 90px;
      height: 90px;
      background-size: 60%;
      background-position: center center;
      position: absolute;
      background-repeat: no-repeat;
      left: 50%;
      top: -35px;
      margin-left: -45px;
      display: block;
    }
  }
  &-content{
    text-align: center;
    h3{
      font-size: 1.8em;
      margin: 10px 0 0;
      color: $blue!important;
    }
    p{
      color: $gray!important;
      font-size: 1.2em;
    }
  }
}


/*********************
SOCIAL SHARE
*********************/
.social-share{
  &.vertical{
    a{
      display: block;
    }
  }
  a{
    display: inline-block;
    padding: 5px;
    background: $white;
    color: $medium-gray;
    width: 40px;  
    text-align: center;
    &:hover{
      background: $medium-gray;
      color: $white;
    }
    i{
      font-size: 1.2em;
    }
  }
}