/*********************
TOOLBOX RESOURCES
*********************/

.toolbox-item-resources {
  background: $white;
  border: 1px solid $blue;
  display: block;
  position: relative;
}

@media print, screen and (min-width: $medium) {
  .toolbox-item {
    padding-bottom: 40px; }
  .toolbox-item:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: 1px solid $blue;
    background-image: url(../img/wave-pattern.svg);
    background-repeat: repeat;
    background-position: center center;
  }
}

.toolbox-resources {
  padding: 40px 20px;
  text-align: left; }

.toolbox-resources .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
  display: none
}

.toolbox-resources .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:before {
  display: block;
  width: 0;
  height: 0;
  border: 6px inset;
  content: "";
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: $medium-blue transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 1rem;
  margin-right: 20px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.toolbox-resources p {
  margin: 0;
  padding-left: 20px;
  color: $blue !important; }


.cell.sidebar.fixed {
  position: fixed;
  top: 0;
  width: auto;
}

.toolbox-resources h4 {
  margin: 0;
  /*margin-bottom: 40px;*/
  text-align: center;
  color: $blue !important;
}

.toolbox-resources .divider {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 40px;
  width: 38px;
  height: 1px;
  background-color: $light-gray;
}

@media screen and (max-width: $medium) {
  .media-object.stack-for-small .media-object-section {
    padding: 0;
    padding-bottom: 1rem;
    display: block;
  }
}

.toolbox-resources .media-object img {
  max-width: 100%;
}

.toolbox-resources h5 {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  color: $blue !important;
}

.toolbox-resources .media-object {
  display: block;
  margin-bottom: 1rem;
}

.toolbox-resources .media-object-section {
  display: table-cell;
}

.toolbox-resources .media-object-section .thumbnail {
  border: none;
  box-shadow: none;

}

.toolbox-resources .media-object-section.middle {
  vertical-align: middle;
  width: 30%;
}

@media screen and (max-width: $medium) {
  .toolbox-resources .media-object-section.middle {
    vertical-align: middle;
    width: 100%;
  }
}

.toolbox-resources .media-object-section a {
  color: $medium-blue;
  transition: color 0.4s ease;
  font-weight: 700;
}

.toolbox-resources .media-object-section a:hover {
  color: $red;
  text-decoration: none;
}

.toolbox-resources ul.nested li a {
  margin: 0;
  padding-left: 40px;
  color: $medium-gray !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toolbox-resources a:hover {
  text-decoration: underline; }

/*********************
SIDEBAR
*********************/


.sidebar{
  will-change: min-height;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}