/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */
$white		  : rgba(255, 255, 255, 1);
$black		  : rgba(0, 0, 0, 1);
$ultra-light-gray:   rgba(240, 242, 243, 1);
$light-gray	: rgba(223, 228, 231, 1);
$medium-gray: rgba(130, 147, 159, 1);
$gray		    : rgba(92, 110, 123, 1);
$light-green: rgba(183, 225, 216, 1);
$green		  : rgba(2, 180, 145, 1);
$light-blue : rgba(217, 233, 245, 1);
$medium-blue: rgba(61, 146, 204, 1);
$blue       : rgba(44, 76, 97, 1);
$dark-blue  : rgba(32, 67, 178, 1);
$red        : rgba(229, 73, 65, 1);
$yellow     : rgba(255, 204, 0, 1);
$orange     : rgba(249, 141, 43, 1);
$teal       : rgba(0, 182, 196, 1);


$size__site-main: 100%;
$size__site-sidebar: 25%;

$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 1024px;
$xlarge: 1400px;

$width: 96%;
$gutter: 4%;

// Fonts
@include fontface('aktivGrotesk Bold', '../fonts/aktivGrotesk', 'AktivGrotesk-Bold');
@include fontface('aktivGrotesk Light', '../fonts/aktivGrotesk', 'AktivGrotesk-Light');
@include fontface('aktivGrotesk Regular', '../fonts/aktivGrotesk', 'AktivGrotesk-Regular');
@include fontface('Proxima Nova Extra Bold', '../fonts/proximaNova', 'ProximaNova-Extrabld');
@include fontface('Proxima Nova Bold', '../fonts/proximaNova', 'ProximaNova-Bold');

$activgrotesk_light : "aktivGrotesk Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
<<<<<<< HEAD
$activgrotesk       : "aktivGrotesk Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
=======
>>>>>>> origin/master
$activgrotesk_bold  : "aktivGrotesk Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proximanova_bold   : "Proxima Nova Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$proximanova_xbold  : "Proxima Nova Extra Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$transition: all 0.3s ease-in-out;


// Color
$colors: (
  black: $black,
  white: $white,
  blue: $blue,
  green: $green,
  light-green: $light-green,
  light-blue: $light-blue,
  medium-blue: $medium-blue,
  light-gray: $light-gray,
  medium-gray: $medium-gray,

);

@mixin gen-props($prefix, $property) {
    @each $color-name, $color in $colors {
      .#{$prefix}-#{$color-name} {
        #{$property}: $color
      }
    }
  }

  @include gen-props('text', 'color');
  @include gen-props('bg', 'background');